html, body {
    font-family: Inter;
}
body{
    background-color: #1E1E1E;
}
#app {
    font-size: 16px;
    font-family: Inter;
    width: 849px;
    height: 660px;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
}
html,
*,
*::before,
*::after {
	box-sizing: border-box;
}